* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
.menu {
    overflow: hidden;
    width: 820px;
    margin: 100px auto;
    background: #2FA6E8;
    font-weight: 500;
    font-size: 20px;
}
.menu>ul {
    display: flex;
}
.menu ul>li {
    list-style: none;
    border-right: 1px solid #E8E8E8;
    cursor: pointer;
}
.menu>ul li a {
    color: white;
    line-height: 50px;
    padding: 0 30px;
}
.menu ul>li:hover {
    background: black;
}
/* sub-menu */
nav li:hover>.sub-menu {
    display: block;
}
.sub-menu {
    display: none;
    max-width: 290px;
    position: absolute;
}
.sub-menu li {
    border: none;
    border-bottom: 1px solid #ccc;
    background: black;
    text-align: left;
    cursor: pointer;
    text-align: center;
}
.sub-menu>li:hover {
    background: #DE4A0A!important;
}